@using E_CommerceWebApplication.Client.Services.ProductService

@inject IProductService ProductService
@page "/"
@page "/displayedProducts/{categoryName}/{pageNumber:int}"


 <!--header section start -->
      <div class="header_section">
         <div class="container">
            <nav class="navbar navbar-dark bg-dark">
               <a class="logo" href="index.html"><img src="images/logo.png"></a>
               <div class="search_section">
                  <ul>
                     <li><a href="#">Log In</a></li>
                     <li><a href="#"><img src="images/shopping-bag.png"></a></li>
                     <li><a href="#"><img src="images/search-icon.png"></a></li>
                  </ul>
               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarsExample01">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="category.html">Category</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="clients.html">Client</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
         <!--banner section start -->
         <div class="banner_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="images/img-1.png" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main">
                            <a class="all_text whenHover" href="/displayedProducts/ /1" >All</a>
                            <input type="text" class="Enter_text" placeholder="Enter keywords" name="">
                            <button class="search_text">Search</button></div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class=""><img src="images/left-icon.png"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class=""><img src="images/right-icon.png"></i>
               </a>
            </div>
         </div>
         <!--banner section end -->
      </div>
      <div class="overflow-hidden" style="overflow:hidden; clear:none; display:block"></div>
<!--Category Section Start-->
<div class="  row container  p-2  " style="margin-right: auto; margin-left: auto; border-radius:30px; ">
    <h1 class="col-12  text-center m-3 " style="color:#0d6efd"><span class="LetterC" style="font-size:60px; color:#ffd35a; text-decoration:underline">C</span>ategories </h1>
    <div class="col-3 text-center " >
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/png-vector/20220614/ourmid/pngtree-modern-labtop-png-image_5047307.png" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Laptop/1" > Labtops</a>
        
    </div>
    <div class="col-3 text-center">
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-golden-mobile-phone-model-psd-transparent-bottom-image_1329284.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Phone/1"> Phones</a>
    </div>
    <div class="col-3 text-center">
        <img class="img" style="margin-bottom:25px" src="https://png.pngtree.com/png-vector/20210424/ourmid/pngtree-pointer-mens-accessories-watch-png-image_3238818.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Watch/1"> Watchs</a>
    </div>
    <div class="col-3 text-center">
        <img class="img " style="margin-bottom:25px" src="https://png.pngtree.com/element_our/20190602/ourmid/pngtree-purple-headphones-decorative-illustration-image_1389424.jpg" />
        <a class="text-center search_text btn whenHover" href="/displayedProducts/Headphone/1"> Headphones</a>
    </div>
</div>
<!--Category Section End-->

 <!-- Product Section Start -->
 <div style="margin-top:60px">
<h1 class="col-12  text-center m-3 " style="color:#0d6efd"><span class="LetterC" style="font-size:60px; color:#ffd35a; ; text-decoration:underline">P</span>roducts </h1>
 </div>

 @if(ProductService.displayedProducts.Data ==null)
 {
    <span>Loading...</span>
}
else
{
     <div class="row productContainer " style="margin-right: auto; margin-left: auto;" >
         @foreach(var item in ProductService.displayedProducts.Data.products)
         {
            @if(item!=null)
            {
                <div class="page-wrapper col-4">
              <div class="page-inner">
                <div class="row">
                  <div class="el-wrapper">
                    <div class="box-up">
                      <img class="img" src="@item.ProductImageUrl" alt="">
                      <div class="img-info">
                        <div class="info-inner">
                          <span class="p-name">@item.ProductName</span>
                          <span class="p-company">@item.Brand</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                      </div>
                    </div>
                    <div class="box-down">
                      <div class="h-bg">
                        <div class="h-bg-inner"></div>
                      </div>
                      <a class="cart" href="#">
                        <span class="price">@item.ProductPrice</span>
                        <span class="add-to-cart">
                          <span class="txt">Add in cart</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }  
         }
     </div>
     <div class=" container" style="margin-right: auto; margin-left: auto; width:500px ">
        @for(var i =1;i<=ProductService.displayedProducts.Data.numberOfPages;i++)
        {
            var iCopy = i;
            <a class="btn bg-danger m-2" href="/displayedProducts/ /@iCopy" >@i</a>
        }
    </div>
}
<!--Product Section End-->
      

      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-12">
                  <h4 class="information_text">Category</h4>
                  <p class="dummy_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="information_main">
                     <h4 class="information_text">Useful Links</h4>
                     <p class="many_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It </p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="information_main">
                     <h4 class="information_text">Contact Us</h4>
                     <p class="call_text"><a href="#">+01 1234567890</a></p>
                     <p class="call_text"><a href="#">+01 9876543210</a></p>
                     <p class="call_text"><a href="#">demo@gmail.com</a></p>
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                           <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright_section">
               <h1 class="copyright_text">  Copyright 2020 All Right Reserved </h1>
               <a href="https://html.design"> Free Html Templates</a>
            </div>
         </div>
      </div>

<!--footer section end -->

@code{
    [Parameter]
    public int pageNumber { get; set; } 

    [Parameter]
    public string categoryName { get; set; } = string.Empty;


    //string lastCategory = " ";
    static int lastMethod = 0;
    protected override async Task OnInitializedAsync()
    {
        pageNumber = 1;
        await ProductService.GetProducts(1);
    }

    protected override async Task OnParametersSetAsync()
    {
        if(string.IsNullOrWhiteSpace(categoryName)||string.IsNullOrEmpty(categoryName))
            await ProductService.GetProducts(pageNumber);
        else   
            await ProductService.GetProductsByCategory(categoryName,pageNumber);
    }
    //private async Task GetProductLaptops(int pageNumber = 1)
    //{
    //    lastMethod = 1;
    //    await ProductService.GetProductsByCategory("Laptop",pageNumber);
    //}
    //private async Task GetProductPhones(int pageNumber = 1)
    //{
    //    lastMethod = 2;
    //    await ProductService.GetProductsByCategory("Phone",pageNumber);
    //}
    //private async Task GetProductWatchs(int pageNumber = 1)
    //{
    //    lastMethod = 3;
    //    await ProductService.GetProductsByCategory("Watch",pageNumber);
    //}
    //private async Task GetProductHeadphones(int pageNumber = 1)
    //{
    //    lastMethod = 4;
    //    await ProductService.GetProductsByCategory("Headphone",pageNumber);
    //}

    //protected async Task Pagination(int pageNumber)
    //{
    //    switch(lastMethod)
    //    {
    //        case 0:
    //            await ProductService.GetProducts(pageNumber);
    //            break;
    //        case 1:
    //            GetProductLaptops(pageNumber);
    //            break;
    //        case 2:
    //            GetProductPhones(pageNumber);
    //            break;
    //        case 3:
    //            GetProductWatchs(pageNumber);
    //            break;
    //        case 4:
    //            GetProductHeadphones(pageNumber);
    //            break;
    //        default:
    //            await ProductService.GetProducts(1);
    //            break;
    //    }
    //}
}